.comment-card-container {
  max-width: 1000px;
  margin: auto;
}

.tk-expand {
  background-color: #eee;
}

.tk-avatar {
  border-radius: 50%;
}

.tk-avatar .tk-avatar-img {
  height: 100% !important;
}

.tk-row {
  font-size: 1rem;
  line-height: 1.4rem;
}

.tk-content {
  margin: 0.5rem 0 0.8rem 0;
  line-height: 1.4rem;
}

.tk-replies .tk-content {
  font-size: 14px;
}

.tk-content p {
  margin: 0;
}

.tk-replies .tk-avatar {
  width: 2rem;
  height: 2rem;
}

.tk-time {
  color: #ccc;
}

.tk-tag-green {
  color: white;
  background-color: #87d068;
}

.tk-nick {
  color: #00000073;
}

.tk-replies {
  padding: 0 10px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #f7f7f7;
}
.tk-ruser {
  color: #008ac5;

  &:hover {
    color: #00aeec;
  }
}
