.bg-wrapper {
  position: relative;

  .bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 800px;
    height: 400px;
    opacity: 0.4;
    background-position: top -90px right -330px;
    background-size: 90%;
    background-repeat: no-repeat;
  }
}
